<ul class="media-list">
	<li class="media">
		<a class="pull-left" href="#">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
		<div class="media-body tran_inline_block">
			<h4 class="media-heading">2014.05.18　コンセプトページ完成</h4>
			　当サービスのコンセプトをご説明させて頂くための<a href="http://www.creatersguild.com">ページ</a>を作成。
		</div>
	</li>
</ul>