<ul class="media-list">
	<li class="media">
		<a class="pull-left" href="#">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
		<div class="media-body tran_inline_block">
			<h4 class="media-heading">2014.06.04 提案を採用できるようになりました！</h4>
			　数ある提案の中から”これだ！”と思うものは採用ボタンで採用しちゃいましょう。<br>
			その後は提案者と最終調整し、モノを作ってもらいましょう。
		</div>
	</li>
	<li class="media">
		<a class="pull-left" href="#">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
		<div class="media-body tran_inline_block">
			<h4 class="media-heading">2014.05.25 提案機能実装！</h4>
			　メイン機能第２弾。リクエストに対する提案機能を実装しました。<br>
			他ユーザのリクエストに対して自分のスキルで応えてあげて下さい！
		</div>
	</li>
	<li class="media">
		<a class="pull-left" href="#">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
		<div class="media-body tran_inline_block">
			<h4 class="media-heading">2014.05.23 リクエストを投稿できるように！</h4>
			　ついにメイン機能の１つであるリクエストを投稿できるようになりました。<br>
			是非とも自分の欲しい衣装をリクエストしてみて下さい！
		</div>
	</li>
	<li class="media">
		<a class="pull-left" href="#">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
		<div class="media-body tran_inline_block">
			<h4 class="media-heading">2014.05.19「いいね」「ツイート」ボタン設置</h4>
			　いいねボタンとツイートボタンを設置しました。Creater'sGuildのコンセプトに共感して<br>くれたら是非ともボタンを押して共有して下さい！お願いします。
		</div>
	</li>
	<li class="media">
		<a class="pull-left" href="#">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
		<div class="media-body tran_inline_block">
			<h4 class="media-heading">2014.05.18　コンセプトページ完成</h4>
			　当サービスのコンセプトをご説明させて頂くための<a href="http://www.creatersguild.com">ページ</a>を作成。
		</div>
	</li>
</ul>