// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//commons
body{
  background-color: rgba(0,0,0,0.1);
}

#main_contents{
  background-color: white;
  box-shadow: 1px 1px 3px 1px rgba(120,120,120,0.2); 
}

.submit_btn{
	border-style: none;
	border-radius: 3px;
	width:100%;
	padding:5px 20px 5px 20px;
	margin-top: 10px;
	background-color: #33cdc7;
	color:white;
	font-weight: bold;
	font-size: large;
}

//concept elements

.concept_padding{
	padding: 10px 0 10px 0;
}

#logo_wrapper{
  width: 150px;
	#logo{
	  width:100%;
	}
}

#service_message{
	width: 80%;
	text-align: center;
	padding:30px 0 30px 0;
	margin-top: 20px;
	border-radius: 5px;
	background-color: #33cdc7;
	font-size: 1em;
	font-weight: bold;
	line-height: 150%;
	color: white;
}

#concept_wrapper{
  width:95%;
  margin-top: 40px;
  margin-bottom: 20px;
  #concept_img{
  	width:100%;
  }
}

#recruit_message{
	#recruit_headline{
		display: inline-block;
		margin-left: -50px;
		margin-bottom: 10px;
		padding: 10px 20px 10px 20px;
		border-radius: 10px;
		color: white;
		font-size: 1.5em;
		background-color: #33cdc7;
		transform:rotate(-10deg);
	}
	width:100%;
	font-size:0.8em;
	padding: 10px 15px 10px 15px;
}

#form_wrapper{
position:relative;
width:75%;
border: 1px solid gray;
border-radius: 5px;
padding: 5px;
margin-top:30px;
	#logo{
		margin-top: 10px;
		margin-bottom: 10px;
		img{
			width:100%;
		}
	}
	#register_form{
		margin-top: 10px;
	}
	input{
		width:95%;
	}
}

#newsfeed_wrapper{
	margin-top: 50px;
	margin-bottom: 20px;
}
#newsfeed_wrapper:before{
	display: block;
	content: "";
	border-top: solid 1px rgba(0,0,0,0.4);
	width: 70%;
	margin: 10px auto;
}

